include ../blocks/includes
include page/page
include header/header
include logo/logo
include basket/basket
include top-contacts/top-contacts
include top-menu/top-menu
include search/search
include hamburger/hamburger
include catalog/catalog
include section-text/section-text
include footer/footer
include footer-contacts/footer-contacts
include breadcrumbs/breadcrumbs
include section-contacts/section-contacts
include map/map
include text/text
include section-basket/section-basket
include section-popular/section-popular
include section-card/section-card
include tabs/tabs
include section-catalog/section-catalog
include catalog-menu/catalog-menu
include view/view
include popup-add-basket/popup-add-basket
