include ../blocks/includes
include page/page
include header/header
include logo/logo
include basket/basket
include top-contacts/top-contacts
include top-menu/top-menu
include search/search
include hamburger/hamburger
