mixin top-contacts()
  +b.top-contacts&attributes(attributes)
    div
      +b.contacts-item._address.__item._address <span></span>!{contacts.address}
      br
      +b.contacts-item._time.__item._time <span></span>!{contacts.time}
    div
      +b('a')(href='tel:89522636699').contacts-item._phone.__item._phone <span></span>!{contacts.phone}
      br
      +b('a')(href='mailto:' + contacts.email).contacts-item._email.__item._email <span></span>!{contacts.email}
