// Для импорта в файл подключения: @import './app/blocks.project/top-contacts/top-contacts';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.top-contacts {
  display: flex;
  align-items: center;

  > div {
    flex-shrink: 1;
    font-family: $proxima_novalight;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    @media (max-width: 480px) {
      font-size: 12px;
    }
    &:first-of-type {
      padding-right: 100px;
      @media (max-width: 1310px) {
        padding-right: 30px;
      }
      @media (max-width: 480px) {
        padding-right: 15px;
      }
    }
    &:last-of-type {
      @media (max-width: 480px) {
        min-width: 98px;
      }
    }
  }

  &__item {
    @media (max-width: 480px) {
      padding-left: 0;
    }
    span {
      @media (max-width: 480px) {
        display: none;
      }
    }

    &_address {
      margin-bottom: 13px;
      @media (max-width: 480px) {
        margin-bottom: 5px;
      }
    }
    &_phone, &_email {
      color: #fff;
    }
    &_phone {
      font-family: $proxima_nova_condensedSBd;
      font-size: 30px;
      margin-bottom: 7px;
      span {
        &:before {
          height: 20px;
          width: 20px;
        }
      }
      @media (max-width: 1310px) {
        font-size: 24px;
      }
      @media (max-width: 480px) {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    &_email {
      font-size: 16px;
      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
}
