// Для импорта в файл подключения: @import './app/blocks.project/section-card/section-card';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.section-card {
  padding: 0 0 35px;
  font-size: 18px;
  line-height: 1.2;
  color: #363d40;

  h1 {
    font-family: $proxima_nova_condensedbold;
    font-size: 36px;
    line-height: 1.3;
    color: #0054a6;
    @media (max-width: 992px) {
      font-size: 30px;
    }
  }

  &__card {
    font-size: 0;
    padding: 33px 0 48px;
  }

  &__left, &__right {
    display: inline-block;
    vertical-align: top;
    @media (max-width: 992px) {
      display: block;
    }
  }
  &__left {
    text-align: center;
    width: 436px;
    @media (max-width: 992px) {
      margin-bottom: 30px;
      width: 100%;
    }
  }
  &__right {
    font-size: 18px;
    padding-left: 33px;
    width: calc(100% - 436px);
    @media (max-width: 992px) {
      text-align: center;
      padding-left: 0;
      width: 100%;
    }
  }

  &__img-container {
    display: inline-block;
    font-size: 0;
    padding: 0 22px;
    position: relative;
    text-align: center;
    max-width: 459px;
    width: 100%;
  }
  &__img {
    display: inline-block;
    position: relative;
    height: 297px;
    width: 100%;
    @media (max-width: 992px) {
      height: auto;
      &:before {
        content: '';
        display: block;
        padding-top: 75%;
        height: 0;
      }
    }
    img {
      display: none !important;
    }
  }

  &__prev, &__next {
    display: inline-block;
    height: 36px;
    width: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: $transition;
    cursor: pointer;
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2236%22%20width%3D%2216%22%3E%3Cpath%20d%3D%22M12.16%2017.996L.002%2033.8%202.159%2036%2016%2017.996%202.156%200%200%202.2z%22%20fill%3D%22%23e1e1e1%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
    background-size: contain;
    &:hover {
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2236%22%20width%3D%2216%22%3E%3Cpath%20d%3D%22M12.16%2017.996L.002%2033.8%202.159%2036%2016%2017.996%202.156%200%200%202.2z%22%20fill%3D%22%23013c76%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
  }
  &__prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }
  &__next {
    right: 0;
  }

  &__quantity-images {
    background-color: rgba(255, 255, 255, .6);
    display: none;
    font-size: 14px;
    line-height: 20px;
    color: #363d40;
    position: absolute;
    bottom: 7px;
    right: 29px;
    height: 20px;
    width: 20px;
    z-index: 1;
    text-align: center;
    &:before, &:after {
      content: '';
      background-color: rgba(255, 255, 255, .6);
      position: absolute;
      right: -3px;
      bottom: -3px;
    }
    &:before {
      height: 20px;
      width: 2px;
    }
    &:after {
      height: 2px;
      width: 20px;
    }
  }

  &__features, &__original-number {
    span {
      font-family: $proxima_nova_condensedbold;
    }
  }
  &__features {
    margin: 10px 0;
  }

  &__quantity {
    display: inline-block;
    font-family: $proxima_nova_condensedbold;
    color: #fe9b00;
    margin: 15px 0 5px;
    padding-left: 28px;
    position: relative;
    @media (max-width: 992px) {
      margin: 15px 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      height: 15px;
      width: 18px;
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2215%22%20width%3D%2218%22%3E%3Cpath%20d%3D%22M.208%208.257a.646.718%200%200%201%200-1.056l.97-1.044a.681.757%200%200%201%20.969%200l.069.067%203.807%204.432a.35.389%200%200%200%20.485%200L15.785.225h.07a.68.755%200%200%201%20.968%200l.97%201.055a.636.707%200%200%201%200%201.044L6.715%2014.778a.686.762%200%200%201-.969%200L.345%208.479z%22%20data-name%3D%22icon_galka%22%20fill%3D%22%23fe9b00%22%20fill-rule%3D%22evenodd%22%20stroke-width%3D%221.054%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
  }

  &__price-block {
    display: inline-flex;
    align-items: center;
    margin-bottom: 23px;
    @media (max-width: 479px) {
      display: block;
      margin-bottom: 0;
    }
  }

  &__price {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    @media (max-width: 479px) {
      display: inline-flex;
    }
    span {
      flex-shrink: 1;
      font-family: $proxima_nova_condensedbold;
      font-size: 32px;
      padding-left: 7px;
    }
  }

  &__bargain {
    border: 1px solid #0054a6;
    display: inline-block;
    font-family: $proxima_nova_condensedbold;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition;
    color: #0054a6;
    padding: 15px 14px 11px;
    margin-left: 23px;
    &:hover {
      border-color: $accentColor;
      background-color: $accentColor;
      color: #fff;
    }
    @media (max-width: 479px) {
      display: block;
      margin: 15px 0 0 0;
      width: 100%;
    }
  }

  &__button-basket {
    padding-left: 37px;
    padding-right: 54px;
    margin-bottom: 15px;
    &:before {
      right: 21px;
    }
    @media (max-width: 479px) {
      width: 100%;
    }
  }
  &__button-buy {
    padding-right: 33px;
    &:before {
      right: 12px;
    }
    @media (max-width: 479px) {
      width: 100%;
    }
  }

}
