// Для импорта в файл подключения: @import './app/blocks.project/text/text';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.text {
  font-size: 18px;
  color: #303030;
  padding: 25px 0 65px;
  @media (max-width: 992px) {
    padding: 25px 0;
  }

  h1, h2, h3 {
    font-family: $proxima_nova_condensedbold;
    color: #0054a6;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }

  h4, h5, h6 {
    color: #303030;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  h4 {
    font-family: $proxima_nova_condensedSBd;
  }

  p {
    margin-top: 15px;
  }

  a {
    font-family: $proxima_nova_condensedSBd;
    font-size: 18px;
    color: #0054a6;
    transition: $transition;
    &:hover {
      color: $accentColor;
    }
  }

  ul {
    margin: 15px 0;
    li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: $accentColor;
      }
    }
  }

  ol {
    margin: 15px 0;
    counter-reset: listol;
    li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:before {
        content: counter(listol) '.';
        counter-increment: listol;
        position: absolute;
        top: 2px;
        left: 0;
        font-size: 18px;
        line-height: 1.3;
        color: $accentColor;
      }
    }
  }

  hr {
    margin: 30px 0;
  }

}
