mixin text()
  +b('section').text&attributes(attributes)
    .grid
      h1(style='text-align:center') Доставка и возврат
      h4(style='text-align:center') Доставка товаров производится по всем регионам РФ и является бесплатной до транспортной компании.<br/>Доставка по городу платная и ее стоимость зависит от района покупателя.<br/>Оплата товара осуществляется либо наличными либо по безналичному расчету на расчетный счет Сбербанка.
      h2(style='text-align:center') Основные правила возврата товара
      h4(style='text-align:center') Возврат или замена товаров осуществляется в соответствии с действующим законодательством России  — законом РФ от 7 февраля 1992 г. N 2300-I «О защите прав потребителей».
      br
      h3(style='color:#303030') Категории товаров к возврату и обмену
      ul
        li Товары надлежащего качества
        li Товары ненадлежащего качества (брак)
      br
      h3(style='color:#303030') Право потребителя на обмен товара надлежащего качества
      ul
        li Потребитель вправе обменять товар надлежащего качества на аналогичный товар у продавца, у которого этот товар был приобретен, если указанный товар не подошел по форме, габаритам, размеру или комплектации.
        li Потребитель имеет право на обмен товара надлежащего качества в течение семи дней с дня его покупки.
        li Обмен товара надлежащего качества проводится, если указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также имеется товарный чек или кассовый чек либо иной подтверждающий оплату указанного товара документ. Отсутствие у потребителя товарного чека или кассового чека либо иного подтверждающего оплату товара документа не лишает его возможности ссылаться на свидетельские показания.
      hr
      h2(style='text-align:center') Право потребителя на обмен товара ненадлежащего качества
      h3(style='color:#303030') Потребитель в случае обнаружения в товаре недостатков, если они не были оговорены продавцом, по своему выбору вправе:
      ul
        li потребовать замены на товар этой же марки (этих же модели и (или) артикула);
        li потребовать замены на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены;
        li потребовать соразмерного уменьшения покупной цены;
        li потребовать незамедлительного безвозмездного устранения недостатков товара или возмещения расходов на их исправление потребителем или третьим лицом;
        li отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за товар суммы. По требованию продавца и за его счет потребитель должен возвратить товар с недостатками.
      hr
      h2(style='text-align:center') Условия возврата денег в зависимости от оплаты и сроки
      ul
        li Товар можно вернуть в течение 7 дней.
        li На товаре не должны быть нарушены метки.
        li Сломанный товар возврату не подлежит.
        li Отрезные детали возврату и обмену не подлежат.
        li Возврат денег возможен только в том случае если аналогичного товара (но подходящего Вам по форме, габаритам, размеру или комплектации) нет в наличии.
        li Требование потребителя о возврате уплаченной за указанный товар денежной суммы подлежит удовлетворению в течение трех дней со дня возврата указанного товара.
        li По соглашению потребителя с продавцом обмен товара может быть предусмотрен при поступлении аналогичного товара в продажу.
        li При оплате покупки наличными средства возвращаются покупателю наличными
        li При оплате заказа безналичным платежом средства будут возвращены на ваш счет/вашу карту
      hr
      h2(style='text-align:center') Выдача денег
      p В соответствии с Типовыми правилами эксплуатации контрольно-кассовых машин при осуществлении денежных расчетов с населением, утвержденными письмом Минфина России от 30.08.93 N 104 и постановлением Госкомстата России от 25.12.98 N 132 «Об утверждении унифицированных форм первичной учетной документации по учету денежных расчетов с населением при осуществлении торговых операций с применением контрольно-кассовых машин», применяется следующий порядок оформления возврата товара в день покупки (до закрытия смены и снятия Z-отчета) как надлежащего, так и ненадлежащего качества. Возврат денежной суммы производится из операционной кассы организации по чеку, выданному в данной кассе, и только при наличии на чеке подписи директора (заведующего) или его заместителя. На сумму возврата оформляется акт о возврате товара по форме N КМ-3. Акт составляют члены комиссии в одном экземпляре. Погашенные (первоначальные) чеки наклеиваются на лист бумаги и вместе с актом сдаются в бухгалтерию, где они должны храниться при текстовых документах за данное число. Порядок оформления возврата товара покупателем не в день покупки (по истечении рабочего дня после закрытия продавцом смены и снятия Z-отчета) определен письмом ЦБ РФ от 04.10.93 N 18 «Об утверждении порядка ведения кассовых операций в Российской Федерации» и Методическими рекомендациями по учету оформления операций приема, хранения и отпуска товаров в организациях торговли, утвержденными письмом Комитета РФ по торговле от 10.07.96 N 1–794/32–5. Возврат денег осуществляется только из главной кассы организации на основании письменного заявления покупателя с указанием фамилии, имени, отчества и только при предъявлении документа, удостоверяющего личность (паспорта или документа, его заменяющего). Для возврата денег покупателю из главной кассы организация составляет расходно-кассовый ордер по форме N КО-2, порядок оформления которой утвержден постановлением Госкомстата России от 18.08.98 N 88 «Об утверждении унифицированных форм первичной учетной документации по учету кассовых операций, по учету результатов инвентаризации». В этом случае прием от покупателя возвращенного товара также оформляется накладной в порядке, изложенном выше.
      p Источник материала:  <a href='http://rar-razborka.ru/delivery' target='_blank'>http://rar-razborka.ru/delivery</a>
      br
      h3(style='color:#303030') В макете этого нет, но я решил показать, как будет выглядеть нумерованный список, если вдруг понадобится его использовать
      ol
        li Lorem ipsum dolor sit amet.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos earum nostrum officia velit vero voluptatem.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur atque autem corporis culpa, cum distinctio ducimus, eius eum ex fugiat illo itaque iure laborum magnam magni molestias, mollitia nam natus neque nesciunt nisi non placeat quidem rem sunt unde! Accusantium et exercitationem itaque laborum officiis perspiciatis, placeat provident ullam!
