include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'Карточка товара | ШАССИК - разборка иномарок';

  +page

    +header(false).__header

    +b.content.__content

      .grid
        +breadcrumbs(['Главная', 'Запчасти марки Ford', 'Mondeo IV 2007-2014', 'Диск колесный железо для Ford Mondeo IV 2007-2014'])._offset

      +section-card

      +section-popular('Похожие товары')

      +section-text

    +footer(false).__footer

    +popup-add-basket
