include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'Контакты | ШАССИК - разборка иномарок';

  +page

    +header(false)._contacts.__header
      .grid
        +e.banner
          h1 Контакты

    +b.content.__content

      .grid
        +breadcrumbs(['Главная', 'Контакты'])._offset

      +section-contacts

    +footer(false).__footer

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCK-1NS6b7lW0QHulQHFN8qBSxaZRgi9Hc')
