include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'ШАССИК - разборка иномарок';

  +page

    +header(true)._index
      .grid
        +e.banner
          h1 Красивое УТП,<br/>почему нужно тут заказать запчасти

    +b.content.__content
      //- Other content

    +b('footer').footer.__footer
      //- Content for footer
