include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'Оформление заказа | ШАССИК - разборка иномарок';

  +page

    +header(false).__header

    +b.content.__content

      .grid
        +breadcrumbs(['Главная', 'Корзина', 'Оформление заказа'])._offset

      +section-basket2

    +footer(false).__footer
