// Для импорта в файл подключения: @import './app/blocks.project/section-popular/section-popular';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.section-popular {
  background-color: #daf3fc;
  padding: 20px 0 25px;

  h2 {
    text-align: center;
  }

  &__list {
    margin: 10px -10px 0;
  }

  &__item {
    padding: 10px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__products {
    @media (max-width: 768px) {
      display: inline-block;
      max-width: 413px;
      width: 100%;
    }
  }

  &__navigation {
    font-size: 0;
    text-align: right;
    margin-top: 5px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &__prev, &__next {
    background-color: #1a4f83;
    display: inline-block;
    transition: $transition;
    cursor: pointer;
    position: relative;
    height: 45px;
    width: 45px;
    &:hover {
      background-color: $accentColor;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 24px;
      width: 13px;
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22svg10%22%20height%3D%2224%22%20width%3D%2213%22%3E%3Cdefs%20id%3D%22defs6%22%3E%3Cstyle%20id%3D%22style4%22%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20d%3D%22M9.88%2012L0%2022.539%201.757%2024%2013%2012%201.757%200%200%201.46z%22%20id%3D%22icon_strelka_pravo%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
  }
  &__prev {
    margin-right: 8px;
    &:before {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
