mixin basket()
  +b('a')(href='basket.html').basket&attributes(attributes)
    // Для корзины добавляется класс-модификатор basket_added для того, чтобы изменить цвет количества товаров и показать сумму. При удалении данного модификатора надпись с суммой скрывается, а также меняется цвет количества
    +e('span').quantity 3
    +e('span').name Корзина
    +e('span').amount Сумма: <span>2 350 руб.</span>
