mixin tabs()
  +b.tabs&attributes(attributes)
    +e('ul').nav
      - let i = 1;
      each item in tabs.nav
        +e('li')(class='item' + ((i === 1) ? '_active' : ''))
          +e('a')(href='#tab' + i).link !{item}
        - i++;
    +e.content.section-text
      - let j = 1;
      each item in tabs.content
        +e(id='tab' + j).tab-content !{item}
        - j++;
